*.p
*.pt
*.pkl
*.pdf
*.lp
*.pyc
*.pdf
*.xml
*.txt
*.txt.pt
two_dim_plot.ipynb
.idea
data
.ipynb_checkpoints
exp_data
deprecated
experiments/data
experiments/notebooks
experiments/plots
tests
__pyache__
*/.ipynb_checkpoints
*/__pyache__
*/results
*/.vector_cache
*/plots
*/models
